<?php

$header = <<<EOF
Copyright (c) the Contributors as noted in the AUTHORS file.

This file is part of the Park-Manager project.

This Source Code Form is subject to the terms of the Mozilla Public
License, v. 2.0. If a copy of the MPL was not distributed with this
file, You can obtain one at http://mozilla.org/MPL/2.0/.
EOF;

Symfony\CS\Fixer\Contrib\HeaderCommentFixer::setHeader($header);

return Symfony\CS\Config\Config::create()
    ->setUsingLinter(false)
    // use SYMFONY_LEVEL:
    ->level(Symfony\CS\FixerInterface::SYMFONY_LEVEL)
    // and extra fixers:
    ->fixers(array(
        'ordered_use',
        //'strict',
        'strict_param',
        'short_array_syntax',
        'phpdoc_order',
        'header_comment',
        '-psr0',
    ))
    ->finder(
        Symfony\CS\Finder\DefaultFinder::create()
            ->exclude(['bin', 'spec'])
            ->in([__DIR__.'/src', __DIR__.'/app', __DIR__.'/bin'])
    )
;
